/* 
    Created on : 19.09.2014, 17:27:20
    Author     : Носов А.В.
*/

@font-face { 
    font-family: "PT Sans"; 
    src: url('fonts/pt-sans/PTS55F.ttf') 
        format('truetype'), 
        url("fonts/pt-sans/PTS55F.eot"); 
}

html, body {
/*    font: normal 1em ;*/
    font-family: "PT Sans", tahoma, arial, times, sans-serif;
/*    margin-top: 0;
    margin-right: 50px;
    margin-left: 50px;*/
    text-align: left;
    height: 98%;
}

h1 {
    text-align: left; 
    margin-bottom: 0; 
    padding: 0;
}

h2 {
    margin-bottom: 0.5em;
}

.gwt-Button {
    text-decoration: none; 
    padding: 3px; 
    color: black; 
    border: 2px solid #CCC; 
    border-radius: 5px; 
    background: white; 
    display: inline-block;
}
.gwt-Button:hover {
    background:rgba(0,0,0,0.1);
    cursor: pointer;
}

.gwt-ListBox {
    display: block;
    border-left: 1px solid #878780;
    text-decoration: none; 
    color: white;
    background: #2E2E2E none repeat scroll 0% 0%;
    font-size: large;
/**    padding: 3px; 
    border: 2px solid #CCC; 
    border-radius: 5px; 
    display: inline-block;*/
}
.gwt-ListBox:hover {
    cursor: pointer;
}

.globalPadding {
    /*padding: 10px 5px 5px 50px;*/
    padding: 0px 50px 0px 50px;
}

.panelMenu {
    /*width: 100%;*/
    height: 100%;
    background: linear-gradient(to bottom, #2E2E2E 0%, #CCC 8%, #FFF 100%);
}

.lang {
    height: 30px;
    background: #2E2E2E none repeat scroll 0% 0%;
}

.button4Menu {
    text-decoration: none; 
    color: black; 
    border: medium none; 
    background: #2E2E2E none repeat scroll 0% 0%; 
    display: inline-block;
    margin: 0px 0px 0px 100px;
    padding: 0px;
    height: 100%;
}
.button4Menu:hover {
    cursor: pointer;
}

.label4Menu {
    color: white;
    background: #2E2E2E none repeat scroll 0% 0%;
    font-size: x-large;
}

.myColorFirst {
    background: #2E2E2E none repeat scroll 0% 0%;
}